<h1>Create a new Cat</h1>

<form action=<%= cats_url %> method="post">
  <p>
    <label for="cat_name">Cat Name</label>
    <input name="cat[name]" id="cat_name" type="text">
  </p>
  <p>
    <label for="birth_date">Birth Date</label>
    <input name="cat[birth_date]" id="birth_date" type="text">
  </p>
  <p>
    <label for="cat_color">Cat Color</label>
    <select name="cat[color]" id="cat_color">
      <%Cat::COLOR_CHOICES.each do |color|%>
      <option value=<%= color %>><%= color.capitalize %> </option>
      <% end %>

    </select>
  </p>
  <p>
    <label for="cat_gender">Cat Gender</label>
    <input name="cat[gender]" id="cat_gender" type="text">
  </p>
  <p>
    <label for="cat_description">Cat Description</label>
    <input name="cat[description]" id="cat_description" type="textarea">
  </p>
</form>